.full-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-size:100% 100%;
    display: block;
    z-index: 1;
}
#navBar {
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 0%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    display: table;
    height: 4em;
    overflow: hidden;
}
#navBar .active,#navBar li:hover {
    font-size: 2em;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.7);
    color: black;
}
#navBar li {
    color: white;
    display: table-cell;
    width: auto;
    text-align: center;
    cursor: pointer;
    transition: all .7s ease;
    margin: 0;
    padding: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 1em;
    font-weight: bold;
}

.centerPage{
    position: relative;
    width: 70%;
    margin: 6em auto;
    height: 80%;
    background-color: #ededed;
    min-width: 30em;
}

.centerPage .wraptop{
    width: 100%;
    height: 10%;
    min-height: 3em;
    background-color:white;
    display: table;
}
.centerPage .page-button{
    position: absolute;
    height: 3em;
    line-height: 3em;
    font-size: 3em;
    margin-top: -1.5em;
    top:50%;
    background-color: white;
    color: #a1a1a1
}
.centerPage .enable{
    transition: all 0.30s ease-in-out;
    opacity: .8;
}
.centerPage .enable:hover{
    opacity: 1;
    color: #888888;
    box-shadow: 0 0 10px white;
    -webkit-box-shadow: 0 0 10px white;
    -moz-box-shadow: 0 0 10px white;
}
.centerPage .disable{
    opacity: .4;
    color: #888888;
}
.centerPage .page-left{
    left: -1em;
}

.centerPage .page-right{
    right: -1em;
}



.centerPage .wraptop .pageTitle{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 1.5em;
    padding: 0 .5em;
}

.centerPage .wraptop .pageTitle .more{
    float:right;
    color: #888888;
}

.centerPage .wrapbuttom{
    width: 100%;
    height: 90%;
    display: table;
    border-spacing: 1em;
}

.centerPage .wrapbuttom .contents{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    /*When I use max-width,table-cell element's width will be fixed,it's strange but it worked,ok except ie*/
    max-width:1px;
}

.centerPage .wrapbuttom .contents .short,.centerPage .wrapbuttom .contents .long,.centerPage .wrapbuttom .contents .medium{
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px #888888;
    position: relative;
    background-size:100% 100%;
}
.centerPage .wrapbuttom .contents  .medium .content{
    height: 6em;
}
.centerPage .wrapbuttom .contents .short{
    height: 40%;
}

.centerPage .wrapbuttom .contents .long{
    height: 54%;
}

.centerPage .wrapbuttom .contents .medium{
    height: 45%;
}

.centerPage .wrapbuttom .contents .info{
    width: 90%;
    margin: 0 auto;
    font-size: .8em;
    color: #888888;
    height: 3em;
    line-height: 3em;
    overflow: hidden;
}
.centerPage .wrapbuttom .contents  .info .time{
    float:right;
}

.centerPage .wrapbuttom .contents  .title{
    width: 90%;
    height: 2em;
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
    overflow: hidden;
    /*border-bottom: 1px dashed #888888;*/
}
.centerPage .wrapbuttom .contents  .content{
    width: 90%;
    margin: 5% auto;
    text-indent:2em;
    font-size: .9em;
    line-height: 1.5em;
    max-height: 50%;
    overflow: hidden;
    color: #888888;
}
.centerPage .wrapbuttom .contents  .long .content{
    height: 7.5em;
}
.centerPage .wrapbuttom .contents  .action{
    width: 90%;
    font-size: .8em;
    color: black;
    height: 3em;
    line-height: 3em;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -45%;
}
.centerPage .wrapbuttom .contents  .action .read{
    float:right;
}

.centerPage .wrapbuttom .contents .down{
    margin-top: 10%;
}

.view-animate.ng-leave,.view-animate.ng-enter {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    width:100%;
    position:absolute;
    left:0;
    right:0;
}
.view-animate.ng-leave{
    top:0;
    bottom:0;
}

.view-animate.ng-enter{
    top:100%;
    bottom:-100%;
}

.view-animate.ng-leave.ng-leave-active {
    top:-100%;
    bottom: 100%;
}

.view-animate.ng-enter.ng-enter-active {
    top:0;
    bottom: 0;
}