.detail-page{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size:cover;
    background-repeat: no-repeat;
    display: block;
    z-index: 1;
}

.detail-center{
    width: 70%;
    height: 100%;
    margin: 6em auto;
    background-color: #eeeeee;
}

.detail-center .info{
    width: 90%;
    margin: 0 auto;
    font-size: 1em;
    color: #888888;
    height: 3em;
    line-height: 3em;
    overflow: hidden;
}
.detail-center .info .time{
    float:right;
}
.detail-center .title{
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: black;
    height: 3em;
    line-height: 3em;
    border-bottom: 1px solid #888888;
}