#pageContain {
    overflow: hidden;
}
.page {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.contain {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    z-index: 0;
}
.current .contain,.slide .contain {
    display: block;
}
.current {
    display: block;
    z-index: 1;
}
.slide {
    display: block;
    z-index: 2;
}
.swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms !important;
    -webkit-transition-duration: 0ms !important;
}
.page1 {
    background:url("../assets/img/backgroud/town.jpg") no-repeat;
    background-size:100% 100%;
}
.page2 {
    background:url("../assets/img/backgroud/sky.jpg") no-repeat;
    background-size:100% 100%;
}
.page3 {
    background:url("../assets/img/backgroud/street.jpg") no-repeat;
    background-size:100% 100%;
}
.page4 {
    background:url("../assets/img/backgroud/sunset.jpg") no-repeat;
    background-size:100% 100%;
}
.page5 {
    background:url("../assets/img/backgroud/city.jpg") no-repeat;
    background-size:100% 100%;
}
.page6 {
    background:url("../assets/img/backgroud/river.jpg") no-repeat;
    background-size:100% 100%;
}
#navBar {
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 0%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    display: table;
    height: 4em;
}
#navBar .active,#navBar li:hover {
    font-size: 2em;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.7);
    color: black;
}
#navBar li {
    color: white;
    display: table-cell;
    width: auto;
    text-align: center;
    cursor: pointer;
    transition: all .7s ease;
    margin: 0;
    padding: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 1em;
    font-weight: bold;
}

.centerPage{
    width: 70%;
    margin: 6em auto;
    height: 80%;
    background-color: #ededed;
    overflow: hidden;
}

.centerPage .wraptop{
    width: 100%;
    height: 10%;
    min-height: 3em;
    background-color:white;
    display: table;
}

.centerPage .wraptop .pageTitle{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 1.5em;
    padding-left: .5em;

}

.centerPage .wrapbuttom{
    width: 100%;
    height: 90%;
    display: table;
    border-spacing: 1em;
}

.centerPage .wrapbuttom .contents{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    /*When I use max-width,table-cell element's width will be fixed,it's strange but it worked,ok except ie*/
    max-width:1px;
}

.centerPage .wrapbuttom .contents .short,.centerPage .wrapbuttom .contents .long{
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px #888888;
    position: relative;
    background-size:100% 100%;
}

.centerPage .wrapbuttom .contents .short{
    height: 40%;
    overflow:hidden;
}

.centerPage .wrapbuttom .contents .long{
    height: 54%;
    padding: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.centerPage .wrapbuttom .contents .long .info{
    font-size: .8em;
    color: #888888;
    height: 2em;
    overflow: hidden;
}
.centerPage .wrapbuttom .contents .long .info .time{
    float:right;
}

.centerPage .wrapbuttom .contents .long .title{
    height: 3em;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.5em;
    overflow: hidden;
    /*border-bottom: 1px dashed #888888;*/
}
.centerPage .wrapbuttom .contents .long .content{
    height: 9em;
    margin-top: .5em;
    text-indent:2em;
    font-size: .9em;
    line-height: 1.5em;
    max-height: 50%;
    overflow: hidden;
}
.centerPage .wrapbuttom .contents .long .action{
    font-size: .8em;
    color: black;
    height: 4em;
    line-height: 4em;
}
.centerPage .wrapbuttom .contents .long .action .read{
    float:right;
}

.centerPage .wrapbuttom .contents .down{
    margin-top: 10%;
}
