<!DOCTYPE html>
<html lang="zh-CN" ng-app="blog"  ng-strict-di>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>首页</title>
</head>
<body>
<ul id="navBar">
    <li ng-click="go('/')">首页</li>
    <li ng-click="go('/article')">文章</li>
    <li ng-click="go('/problem')">问题</li>
    <li ng-click="go('/img')">图片</li>
    <li ng-click="go('/share')">转载</li>
    <li>其他</li>
</ul>
<div ng-view class="view-animate">
</div>
</body>
</html>