<div class="detail-page list-article-bak">
    <div class="detail-center">
        <p class="info">
            2016-12-22
            <span class="time">22:20</span>
        </p>
        <p class="title">测试测试测试测试测试测试</p>
            <div class="wrapbuttom">
                <div class="contents">
                    <div class="medium" ng-style="img1">

                    </div>
                    <div class="medium down" ng-style="img2">

                    </div>
                </div>
                <div class="contents">
                    <div class="medium" ng-style="img3">

                    </div>
                    <div class="medium down" ng-style="img4">

                    </div>
                </div>
                <div class="contents">
                    <div class="medium" ng-style="img1">

                    </div>
                    <div class="medium down" ng-style="img2">

                    </div>
                </div>
                <div class="contents">
                    <div class="medium" ng-style="img3">

                    </div>
                    <div class="medium down" ng-style="img4">

                    </div>
                </div>
            </div>
    </div>
</div>