<ul id="navBar">
    <li>首页</li>
    <li>文章</li>
    <li>问题</li>
    <li>图片</li>
    <li>转载</li>
    <li>其他</li>
</ul>
<div id="pageContain">

    <div class="page page1 current">
        <div class="contain">
            <div class="centerPage">
                <div class="wraptop">
                    <p class="pageTitle">
                        <i class="fa fa-home fa-fw"></i>&nbsp;首页
                    </p>
                </div>
                <div class="wrapbuttom">
                    <div class="contents">
                        <div class="short">
                            <img ng-src="{{test}}" />
                        </div>
                        <div class="long down"></div>
                    </div>
                    <div class="contents">
                        <div class="long">
                            <img ng-src="{{test}}" />
                        </div>
                        <div class="short down"></div>
                    </div>
                    <div class="contents">
                        <div class="short">
                            <img ng-src="{{test}}" />
                        </div>
                        <div class="long down"></div>
                    </div>
                    <div class="contents">
                        <div class="long">
                            <img ng-src="{{test}}" />
                        </div>
                        <div class="short down"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page" ng-class="page2">
        <div class="contain">

        </div>
    </div>

    <div class="page" ng-class="page3">
        <div class="contain">

        </div>
    </div>

    <div class="page" ng-class="page4">
        <div class="contain">

        </div>
    </div>

    <div class="page" ng-class="page5">
        <div class="contain">

        </div>
    </div>

    <div class="page" ng-class="page6">
        <div class="contain">

        </div>
    </div>
</div>
