<ul id="navBar">
    <li>王摄山</li>
    <li>文章</li>
    <li>问题</li>
    <li>图片</li>
    <li>转载</li>
    <li>其他</li>
</ul>
<div id="pageContain">

    <div class="page page1 current">
        <div class="contain">

        </div>
    </div>

    <div class="page" ng-class="page2">
        <div class="contain">

        </div>
    </div>

    <div class="page" ng-class="page3">
        <div class="contain">

        </div>
    </div>

    <div class="page" ng-class="page4">
        <div class="contain">

        </div>
    </div>

    <div class="page" ng-class="page5">
        <div class="contain">

        </div>
    </div>

    <div class="page" ng-class="page6">
        <div class="contain">

        </div>
    </div>
</div>
