<div class="full-page" ng-class="pageClass">
    <div class="centerPage">
        <i class="fa fa-chevron-left page-left page-button disable" aria-hidden="true"></i>
        <div class="wraptop">
            <p class="pageTitle">
                <i class="fa" ng-class="typeIcon"></i>&nbsp;&nbsp;{{typeName}}
                <span class="more">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </p>
        </div>
        <div class="wrapbuttom">
            <div class="contents">
                <div class="medium">
                    <p class="info">
                        2016-12-22
                        <span class="time">22:20</span>
                    </p>
                    <div class="title">
                        这段代码解决蒲丰投针实验的原理是什么？
                    </div>
                    <div class="content">
                        这里的tmp是个普通值，不是指针。struct sigaction tmp;后面的
                        current->sigaction[signum-1] = tmp;会把tmp的内容拷贝到左手
                        边所指的位置。完成拷贝后，tmp爱怎样就怎样，
                    </div>
                    <p class="action">
                        <i class="fa fa-tags"></i>&nbsp;文章
                        <span class="read">阅读全文</span>
                    </p>
                </div>
                <div class="medium down">
                    <p class="info">
                        2016-12-22
                        <span class="time">22:20</span>
                    </p>
                    <div class="title">
                        这段代码解决蒲丰投针实验的原理是什么？
                    </div>
                    <div class="content">
                        这里的tmp是个普通值，不是指针。struct sigaction tmp;后面的
                    </div>
                    <p class="action">
                        <i class="fa fa-tags"></i>&nbsp;转载
                        <span class="read">阅读全文</span>
                    </p>
                </div>
            </div>
            <div class="contents">
                <div class="medium">
                    <p class="info">
                        2016-12-22
                        <span class="time">22:20</span>
                    </p>
                    <div class="title">
                        这段代码解决蒲丰投针实验的原理是什么？
                    </div>
                    <div class="content">
                        这里的tmp是个普通值，不是指针。struct sigaction tmp;后面的
                        current->sigaction[signum-1] = tmp;会把tmp的内容拷贝到左手
                        边所指的位置。完成拷贝后，tmp爱怎样就怎样，
                    </div>
                    <p class="action">
                        <i class="fa fa-tags"></i>&nbsp;文章
                        <span class="read">阅读全文</span>
                    </p>
                </div>
                <div class="medium down">
                    <p class="info">
                        2016-12-22
                        <span class="time">22:20</span>
                    </p>
                    <div class="title">
                        这段代码解决蒲丰投针实验的原理是什么？
                    </div>
                    <div class="content">

                    </div>
                    <p class="action">
                        <i class="fa fa-tags"></i>&nbsp;文章
                        <span class="read">阅读全文</span>
                    </p>
                </div>
            </div>
            <div class="contents">
                <div class="medium">
                    <p class="info">
                        2016-12-22
                        <span class="time">22:20</span>
                    </p>
                    <div class="title">
                        这段代码解决蒲丰投针实验的原理是什么？
                    </div>
                    <div class="content">
                        这里的tmp是个普通值，不是指针。struct sigaction tmp;后面的
                        current->sigaction[signum-1] = tmp;会把tmp的内容拷贝到左手
                        边所指的位置。完成拷贝后，tmp爱怎样就怎样，
                    </div>
                    <p class="action">
                        <i class="fa fa-tags"></i>&nbsp;问题
                        <span class="read">阅读全文</span>
                    </p>
                </div>
                <div class="medium down">
                    <p class="info">
                        2016-12-22
                        <span class="time">22:20</span>
                    </p>
                    <div class="title">
                        这段代码解决蒲丰投针实验的原理是什么？
                    </div>
                    <div class="content">
                        这里的tmp是个普通值，不是指针。struct sigaction tmp;后面的
                        current->sigaction[signum-1] = tmp;会把tmp的内容拷贝到左手
                        边所指的位置。完成拷贝后，tmp爱怎样就怎样，
                    </div>
                    <p class="action">
                        <i class="fa fa-tags"></i>&nbsp;问题
                        <span class="read">阅读全文</span>
                    </p>
                </div>
            </div>
            <div class="contents">
                <div class="medium">
                    <p class="info">
                        2016-12-22
                        <span class="time">22:20</span>
                    </p>
                    <div class="title">
                        这段代
                    </div>
                    <div class="content">
                        这里的tmp是个普通值，不是指针。struct sigaction tmp;后面的
                        current->sigaction[signum-1] = tmp;会把tmp的内容拷贝到左手
                        边所指的位置。完成拷贝后，tmp爱怎样就怎样，
                    </div>
                    <p class="action">
                        <i class="fa fa-tags"></i>&nbsp;转载
                        <span class="read">阅读全文</span>
                    </p>
                </div>
                <div class="medium down">
                    <p class="info">
                        2016-12-22
                        <span class="time">22:20</span>
                    </p>
                    <div class="title">
                        这段代码解决蒲丰投针实验的原理是什么？
                    </div>
                    <div class="content">
                        这里的tmp是个普通值，不是指针。struct sigaction tmp;后面的
                        current->sigaction[signum-1] = tmp;会把tmp的内容拷贝到左手
                        边所指的位置。完成拷贝后，tmp爱怎样就怎样，
                    </div>
                    <p class="action">
                        <i class="fa fa-tags"></i>&nbsp;问题
                        <span class="read">阅读全文</span>
                    </p>
                </div>
            </div>
        </div>
        <i class="fa fa-chevron-right page-right page-button enable" aria-hidden="true"></i>
    </div>
</div>