<div class="full-page" ng-class="pageClass">
    <div class="centerPage">
        <i class="fa fa-chevron-left page-left page-button disable" aria-hidden="true"></i>
        <div class="wraptop">
            <p class="pageTitle">
                <i class="fa" ng-class="typeIcon"></i>&nbsp;&nbsp;{{typeName}}
                <span class="more">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </p>
        </div>
        <div class="wrapbuttom">
            <div class="contents">
                <div class="medium" ng-style="img1">

                </div>
                <div class="medium down" ng-style="img2">

                </div>
            </div>
            <div class="contents">
                <div class="medium" ng-style="img3">

                </div>
                <div class="medium down" ng-style="img4">

                </div>
            </div>
            <div class="contents">
                <div class="medium" ng-style="img1">

                </div>
                <div class="medium down" ng-style="img2">

                </div>
            </div>
            <div class="contents">
                <div class="medium" ng-style="img3">

                </div>
                <div class="medium down" ng-style="img4">

                </div>
            </div>
        </div>
        <i class="fa fa-chevron-right page-right page-button enable" aria-hidden="true"></i>
    </div>
</div>